img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
span{
    cursor: pointer;
}
text{
    white-space: nowrap !important;
  overflow: hidden !important;
}