.fav-header{
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 200;
}

.fav-text{
    padding-top: 12px;
    padding-left: 9px;
    font-size: 33px;
    position: absolute;
    font-family: marvel-regular;
}