@import '../../../../app.component.css';

* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 70.3%;
    padding: 10px;
  }
  .column-side{
    float: left;
    width: 14.6%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.main-container{
margin-left: 10%;
margin-right: 10%;
}

.hero-card
{
    margin-top: 20px;
}

.char-header{
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px black ;
  color: white;
  font-size: 20px;
}