@import '../../../../app.component.css';
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 67.3%;
    padding: 10px;
  }
  .column-side{
    float: left;
    width: 14.6%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column-right
  {
    float: left;
    width: 18%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.char-header{
  padding-top: 10px;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  font-family: marvel-regular;
  position:absolute;
}

.page-arrow {
  cursor: pointer;
}

.arrow-container{
  margin-right: 102px;
}

.filters{
  margin-left: 0px;
  background-color: white;
  padding: 10px;
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

div.searcher input[type=text] {
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  color: black;
}

div.searcher input:focus {
  border-color: white;
  color: black;
}
div.searcher ::placeholder {
  color: black;
}
div.searcher button {
  float: left;
  width: 20%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}


div.searcher::after {
  content: "";
  clear: both;
  display: table;
}

.searcherList{
  margin-left: 10px;
}
.searcherList input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  color: black;
}

.searcherList input:focus {
  border-color: black;
  color:gray;
}
.searcherList ::placeholder {
  color: gray;
  opacity: 1; /* Firefox */
}
.searcherList::after {
  content: "";
  clear: both;
  display: table;
}
