@import '../../../../app.component.css';

* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 70.3%;
    padding: 10px;
  }
  .column-side{
    float: left;
    width: 14.6%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.main-container{
margin-left: 10%;
margin-right: 10%;
}

.hero-card
{
    margin-top: 20px;
}

.char-header{
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px black ;
  color: white;
  font-size: 20px;
}

.page-arrow {
  cursor: pointer;
}

.arrow-container{
  margin-right: 102px;
}

.filters{
  margin-left: 42px;
}
/**/


div.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  color: white;
}

div.example input:focus {
  border-color: white;
  color: white;
}
div.example ::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
div.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}


div.example::after {
  content: "";
  clear: both;
  display: table;
}