<div class="row">
    <div class="column-side">
    </div>
    <div class="column" style="background-color:rgb(187, 187, 187, 0.5);">
        <div class="col-12">
            <img class="cha0racter-icon" src="../../../../../assets/icons/characters.png" />
            <span class="char-header">Your Favorite Comics</span>
        </div>
        <div class="row" style="margin-left: 40px;">
            <div class="col-3" *ngFor="let comic of comics">
                <app-comic-history-list-card [color]="'black'" [comic]="comic" (favDelete)="onFavDelete($event)">
                </app-comic-history-list-card>
            </div>
        </div>
    </div>
    <div class="column-side">
    </div>
</div>