<div class="card-hero">
    <div class="container">
        <div class="image-cropper">
            <img class="profile-pic" src="{{character.thumbnail.path}}/standard_xlarge.{{character.thumbnail.extension}}"
                alt="{{character.name}}.jpg" />
        </div>
        <div class="row">
            <div class="col-7" style="position: absolute; margin-left: 220px;">
                <div class="row">
                    <h3 class="name" class="col-12">{{character.name}}</h3>
                    <div class="ellipsis container-desc col-9">
                        <p class="col-11">{{(character.description == '' || !character.description ? notDesc : character.description)}}</p>
                    </div>

                    <div class="col-12">
                        <button (click)="viewMore()" type="button" class="btn btn-danger">VIEW MORE</button>
                    </div>
                </div>
            </div>
            <div style="position: absolute; margin-top: 240px;">
                <div class="row col-12">Related Comics</div>
                <div class="row">
                    <div class="col-5" style="margin-top: 15px;" *ngFor="let comic of comicsToShow">
                        <a href="#" (click)="open(mymodal, comic)">{{comic.name}}</a>

                        <ng-template #mymodal let-modal>
                            <!--<div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                This is example from {{comic.name}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark"
                                    (click)="modal.close('Save click')">Ok</button>
                            </div>-->
                            <app-comic-character-card-modal [comicData]="comic" [modal]="modal">

                            </app-comic-character-card-modal>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>