<div class="card-hero">
    <div class="container">
        <div class="image-cropper">
            <img class="profile-pic"
                src="{{character.thumbnail.path}}/standard_xlarge.{{character.thumbnail.extension}}"
                alt="{{character.name}}.jpg" />
        </div>
        <div class="row">
            <div class="col-7" style="   margin-left: 220px;">
                <div class="row">
                    <h3 class="name" class="col-12">{{character.name}}</h3>
                    <div class="ellipsis container-desc col-9">
                        <p class="col-11">{{(character.description == '' || !character.description ? notDesc :
                            character.description)}}</p>
                    </div>

                    <div class="col-12">
                        <button (click)="viewMore()" type="button" class="btn btn-danger">VIEW MORE</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="row col-12 h4 mt-2">Related Comics</div>
                <div class="row">
                    <div class="col-12" style="margin-top: 15px;" *ngFor="let comic of comicsToShow">
                        <div (click)="open(mymodal, comic)" >
                            <app-url-arrow-comic #comicarrow [text]="comic.name">
                            </app-url-arrow-comic>
                        </div>
                        <ng-template #mymodal let-modal>
                            <app-comic-character-card-modal (favAdded)="comicFavAdded($event)" (favDeleted)="comicFavDel($event)" [comicData]="comic" [modal]="modal">

                            </app-comic-character-card-modal>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>